body{
    background-color: #fca6c9;
}

.emphasize{
    font-weight: bold;
    color:white;
    font-family:'Roboto', sans-serif;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }