@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');
@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@1&family=Fira+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');


.content{
    display: grid;
    grid-template-columns: 4fr;
}




.grid2{
    display:grid;
    grid-template-columns: 750px 750px;
    grid-template-rows: 40em 30px 40em;
}

#pic1{
    grid-column: 1;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 70px;

}

#pic2{
    grid-column: 2;
    grid-row: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

#words1{
    grid-column: 2;
    grid-row: 1;
    padding-top: 15em;
}

#words2{
    grid-column: 1;
    grid-row: 3;
    padding-top: 15em;
    text-align: right;
}

#title{
    font-family: "Changa One";
    grid-column: 2;
    grid-row: 1;

}

#title2{
    font-family: "Changa One";
    text-align: right;
}


nav{
    display:grid;
    grid-template-columns: 1fr 170px 170px 170px;
    background-color: #A1E8CC;
    border-radius: 35px;
    border: 10px solid #A1E8CC;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #12263A;
    
}
nav a{
    font-family: "Changa One";
    font-size: 20px;
    text-align: center;
    background-color: #A1E8CC;
    color:black;
    text-decoration: none;
    padding: 30px;
    
}

nav a:hover{
    background-color:#59A96A;
    color:white;
    border-radius: 20px;
}
.logo{
    padding-left: 20px;
}

h1{
    font-family: "Changa One";

}


#container{
    position: absolute;
    margin: 20px;
    width: 96%;
    

}

#hero{
    max-width:8000px;
}

footer{
    display:grid;
    grid-template-columns: 1fr 170px 170px 170px;
    grid-template-rows: 25px 25px 25px 25px 50px ;
    background-color: #A1E8CC;
    border-radius: 35.9px;
    border: 10px solid #A1E8CC;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #12263A;
    
}
footer a{
    font-family: "Changa One";
    font-size: 15px;
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 30px;
    padding-top: 20px;
    
}

.social{
    padding-left: 100px;
    grid-row: 3;
}

#hiking{
    grid-column: 3;
    grid-row: 1;
}
#hiking:hover{
    text-decoration: underline;
}
#safe{
    grid-column: 3;
    grid-row: 2;
}
#safe:hover{
    text-decoration: underline;
}
#site{
    grid-column: 3;
    grid-row: 3;
}
#site:hover{
    text-decoration: underline;
}

#copy{
    grid-column: 3;
    grid-row: 4;
    padding-top: 10px;
}
#name{
    padding-top: 10px;
    grid-column: 3;
    grid-row: 5;
    font-size: 12px;
}

#bottomline{
    grid-column: 1;
    grid-row: 2;
    height: 5px;
    padding-top: 20px;
}

#topline{
    grid-column: 2;
    grid-row: 1;
    height: 5px;
    padding-top: 50px;
}

#endline{
    grid-column: 2;
    grid-row: 4;
    height: 5px;
    padding-bottom: 80px;
}

.shadow{
    border-radius: 40px;
    border: 10px solid #A1E8CC;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #12263A;
    
}

#face:hover{
    transform: scale(1.2);
}
#twit:hover{
    transform: scale(1.2)
}
#insta:hover{
    transform: scale(1.2);
}

hr{
    border-bottom:5px solid;
}









/* Hiking Site */



.title-center{
    text-align: center; 
    font-family: "Changa One"; 
}


  .type2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 14em 20em 14em;
    align-items: center;
    justify-items: center;
}
.dropbtn {
    background-color: #A1E8CC;
    color: white;
    padding: 20px;
    font-size: 16px;
    border: none;
    border-radius: 15px;
    grid-column: 2;
    grid-row: 3;
  }
  
  /* The container <div> - needed to position the dropdown content */
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    border-radius: 15px;
    
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    min-width: 153px;
    border-radius: 15px;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {
      display: block;
      text-align: left;
    }
  
  .dropdown:hover .dropbtn {background-color: #A1E8CC;}



  /* Dropup Button */
.dropbtn {
    background-color: #59A96A;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropup content */
  .dropup {
    position: relative;
    display: inline-block;
  }
  
  /* Dropup content (Hidden by Default) */
  .dropup-content {
    display: none;
    position: absolute;
    bottom: 50px;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 15px;
  }
  
  /* Links inside the dropup */
  .dropup-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 15px;
  }
  
  /* Change color of dropup links on hover */
  .dropup-content a:hover {background-color: #ddd}
  
  /* Show the dropup menu on hover */
  .dropup:hover .dropup-content {
    display: block;
  }
  
  /* Change the background color of the dropup button when the dropup content is shown */
  .dropup:hover .dropbtn {
    background-color: #A1E8CC;
  }


#explain{
    text-align: center;
    font-size: 20px;
}

#canyon{
    border-radius: 20px;
    grid-column:1;
    grid-row:1;
    max-width: 300px;
    max-height: 300px;
}
.type2 #ship{
    border-radius: 20px;
    grid-column:1;
    grid-row:2;
    max-width: 400px;
    max-height: 300px;
}
.type2 #lake{
    border-radius: 20px;
    grid-column:1;
    grid-row:3;
    max-width: 300px;
    max-height: 300px
}

.type2 #wave{
    border-radius: 20px;
    grid-column:3;
    grid-row:1;
    min-width: 300px;
    max-height: 200px
}

.type2 #buckskin{
    border-radius: 20px;
    grid-column:3;
    grid-row:2;
    max-width: 300px;
    max-height: 300px
}
.type2 #bridge{
    border-radius: 20px;
    grid-column:3;
    grid-row:3;
    min-width: 300px;
    max-height: 220px
}









/* Safety Site */

.separate{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 7em 1fr 1fr 5em;
    align-items: center;
    justify-items: center;
}

#tips-title{
    grid-column: 2;
    grid-row: 1;
    font-size: 30px;
    text-align: center;
    font-family: "Changa One";
}

#heat{
    grid-column: 1;
    grid-row: 2;
    border-radius: 30px;
    max-width: 300px;
    max-height: 400px;
    border: 10px solid #59A96A;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #12263A;

}

#heat-text{
    grid-column: 1;
    grid-row: 3;
    text-align: left;
    line-height: 25px;
    padding-left: 70px;
}

#snake{
    border-radius: 20px;
    max-width: 300px;
    max-height: 400px;
    border: 10px solid #59A96A;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #12263A;
    

}

#snake-text{
    grid-column: 2;
    grid-row: 3;
    text-align: left;
    padding: 50px;
    line-height: 23px;
}

#map{
    border-radius: 20px;
    max-width: 300px;
    max-height: 400px;
    border: 10px solid #59A96A;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #12263A;

}

#map-text{
    grid-column: 3;
    grid-row: 3;
    text-align: left;
    line-height: 27px;
    padding-right: 50px;
    padding-bottom: 17px;
}


.separate #snake{
    grid-column: 2;
    grid-row: 2;
}

.separate #map{
    grid-column: 3;
    grid-row: 2;
}

.foots{
    grid-row: 4;
}


.center{
    display: flex;
    justify-content: center;
}

#paw{
    grid-column: 2;
    grid-row: 4;
    padding-bottom: 100px;
    padding-top: 3em;
    color:black;
}

#paw:hover{
    opacity: .6;
    transform: scale(1.1);
}

#fire{
    grid-column: 1;
    grid-row: 4;
    padding-bottom: 100px;
    padding-top: 6em;
    color: black;
}

#fire:hover{
    opacity: .6;
    transform: scale(1.1);
    padding-bottom: 100px;
}

#post{
    grid-column: 3;
    grid-row: 4;
    padding-bottom: 100px;
    padding-top: 3em;
    color: black;
}


#post:hover{
    opacity: .6;
    transform: scale(1.1);
    padding-bottom: 100px;
}

#help{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

