body{
    background-color:#737373;
}

 

.circle{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;   
}

.circle img{
    border-radius: 50%;
    border: 25px solid #555;
    margin: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    
}
.top img{
    width: 100vw;  
}